@import '@repo/ui/globals.css';

.font-urbanist {
	font-family: var(--font-urbanist), sans-serif;
}

.font-merriweather {
	font-family: var(--font-merriweather), serif;
}

.font-merriweather-italic {
	font-family: var(--font-merriweather-italic), serif;
}
